/*
Selector {
	Property: value;
}
. sequence of selector matters (specificity, importance, source order)
*/

/***********************************************************************
 *  To ensure contents do not overflow outside of container
 **********************************************************************/

body {
	overflow: hidden;
	margin: auto;
}

.list1{
	font-family: arial;
	font-size: 1rem;
	text-align: right;
	list-style: none;
	padding-left: 0;
}

.list2{
	font-family: arial;
	text-align: left;
	list-style: none;
	padding-left: 0;
}

a {
    text-decoration: none;
}

/***********************************************************************
 *  Main container structure
 **********************************************************************/

.container{
	display: grid;
	height: 100vh;
	width: 100vw;
	border: 5px;
	grid-template-columns: 1fr;
	grid-template-rows: 30px 1fr 30px;
}

.header{
	margin: 5px;
	padding: 5px;	
}

.body{
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	overflow: hidden;
}

.footer{
	margin: auto;
	padding: 5px;
}

.Left{
	background: #7abcff;
	margin: 5px;
	padding: 10px;
}

.Middle{
	margin: 5px;
	padding: 10px;
	overflow-y: auto;
}

.Right{
	background: yellow;
	margin: 5px;
	padding: 15px;
}

/***********************************************************************
 *  Middle Grid Panel
 **********************************************************************/

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 5px;
}

.box {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
	font-size: 1rem;
	color: #444;
}
 
.box > img {
    width: 100%;
}
